


/*chatbot*/
.chat-icon {
    position: fixed;
    bottom: 50px;
    right: 10px;
    background-color: #4CAF50;
    color: white;
    border-radius: 50%;
    padding: 15px;
    font-size: 24px;
    cursor: pointer;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
  }

  /* Style for the iframe */
  #chatbot-frame {
    position: fixed;
    bottom: 70px;
    right: 20px;
    width: 350px;
    height: 500px;
    border: none;
    display: none;
    z-index: 1000;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
  }
  /* chat*/
